@import './navbar.css';
@import './footer.css';

body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background: #f3eded;
  display: grid;
  grid-template-columns: 14% auto auto auto auto;
  grid-template-rows: 15% auto auto auto;
  grid-template-areas:
    "header header header header header"
    "side-bar main main main main"
    "side-bar main main main main"
    "footer footer footer footer footer";
}

ul {
  list-style: none;
}

.navbar-container {
  grid-area: header;
}

.side-bar {
  grid-area: side-bar;
  background: #DF8931;
  border-radius: 30px;
  box-shadow: 2px 2px 3px 2px #DF8931;
  margin-left: 8%;
  margin-right: 8%;
}


.grid-container {
  grid-area: main;
  display: grid;
  grid-template-columns: repeat(auto-fit, 245px);
}

.book {
  display: grid;
  margin: 1.5%;
  
  justify-items: center;
}


.book>img {
  max-width: 180px;
  border-radius: 30px;
  cursor: pointer;
}

.price {
  display: block;
  margin: 0.8% 0;

}

.buy-btn {
  background: #821E00;
  padding: 10px;
  border-radius: 30px;
  text-transform: uppercase;
  font-size: 0.8rem;
  color: #f3eded;
  cursor: pointer;

}

footer {
  grid-area: footer;
  margin-top: 5%;
}

.footer-container::before {
  background: none;
}

.footer-container::after {
  background: none;
}