@import url('https://fonts.googleapis.com/css?family=Montserrat:200,300,400,600&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background-color: #f3eded;
}

:root {
    --red: #821e00;
    --orange: #DF8931;
    --darkorange: #AA530E;
}

p,
blockquote {
    font-size: .9em;
    line-height: 1.6em;
}

ul {
    list-style-type: none;
}

.container {
    text-align: center;
    padding: .2em 1.2em;
}


.nav-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.mainLogo {
    width: 22%;
}

.nav-container ul li {
    padding: 0 0.4em;
    float: left;
}

.nav-btn {
    display: inline-block;
    vertical-align: middle;
    background: #821E00;
    color: #f3eded;
    padding: 1em 2em;
    border-radius: 30px;
    text-decoration: none;
    font-size: 1rem;
}

a:hover {
    font-weight: bold;
}


/* Dynamic search bar */

.search-contain {
    margin-right: 4%;
    margin-left: 4%;

}

.search-contain input {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    background: #DF8931;
    width: 80%;
    height: 8px;
    padding: 25px;
    padding-left: 60px;
    margin-top: 10%;
    border-radius: 20px;
    border: none;
    color: #821E00;
    cursor: text;
    font-size: 1.1em;
    -webkit-transition: width 1s;
    transition: width 1s;
}

.search-contain input::-webkit-input-placeholder {
    color: #821E00;
}

.search-contain input:-ms-input-placeholder {
    color: #821E00;
}

.search-contain input::-ms-input-placeholder {
    color: #821E00;
}

.search-contain input::placeholder {
    color: #821E00;
}

.search-contain input:focus {
    outline: none;
}

.search-contain img {
    width: 40px;
    margin: 38px 0 0 10px;
    position: absolute;
    cursor: pointer;
}

.search-contain p {
    color: #821E00;
    font-weight: 400;
    text-transform: uppercase;
    font-size: .6em;
    text-align: center;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity 2s;
    transition: opacity 2s;
}

h1,
.subhead {
    position: relative;
    z-index: 3;
    letter-spacing: 0.5px;
}

h1 {
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;

}

.subhead {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 1.4em;



}

.hero-section {
    width: 40%;
    margin: -55px auto 0 auto;
}

.scroll {
    width: 30px;
    margin-bottom: 2%;
    animation: move 1s infinite alternate;
}

.orange-container {
    width: 100%;
    background: #DF8931;
    color: #f3eded;
    margin-top: 15%;
    padding: 4em 0 2em;
    border-top-left-radius: 40px;
    transform: skewY(-2deg);
}

.orange-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #DF8931;
    position: absolute;
    top: -39px;
    right: 0;
    z-index: -2;
}

.orange-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: #f3eded;
    top: -80px;
    position: absolute;
    right: 0;
    border-radius: 50%;
    z-index: -1;
}

.orange-container ul {
    transform: skewY(2deg);
}

.orange-container ul li {
    margin-bottom: 3em;
}

.orange-container ul li p {
    padding: 0 .5em;
}

.orange-container img {
    width: 14%;
}

.orange-container ul li:nth-child(3) img {
    width: 8%;
}

.review-container {
    background: #F5C16C;
    padding: 4em 0 2em;
    margin-top: -3%;
}

.review-container ul li:first-child {
    margin-bottom: 2em;
}

figure {
    margin: 0;
    padding: 0;
}



figcaption {
    font-weight: bold;
    color: #821E00;
}


.registrar-footer {
    background: #AA530E;
    width: 50%;
    display: block;
    color: #f3eded;
    border-radius: 20px;
    padding: .5em;
    text-decoration: none;
    font-size: 1.5em;
    margin: 3% auto 7%;
    position: relative;
    z-index: 4;
}

.registroLibreria {
    display: flex;
    border-radius: 30px;
    background: linear-gradient(to right, #DF8931, #F5C16C);
    width: 80%;
    margin: 0 auto;
}

.infoRegistro {
    display: inline;
    text-align: left;
    padding: 1% 2%;
}
.infoRegistro > h3 {
    margin-top: 6%;
}
.registroTexto {
    font-weight: 400;
    color: black;
    padding: 4% 0;
    font-size: 18px;
    line-height: 1.6em;

}



.infoRegistro img {
    width: 8%;
    margin-right: 1%;
}

.booksImg {
    width: 8%;
    padding-right: 0.4%;
    margin: -12px 0;
    margin-right: 1%;

}

.mensajesImg {
    width: 8%;
    padding-right: 0.4%;
    margin: -12px 0;
}

.historialImg {
    width: 8%;
    padding-right: 0.4%;
    margin: -12px 0;
}

.libreriaImg {
    border-radius: 40px;
    width: 40%;
    padding: 1%;

}


/* Footer */
.footerLogo {
    width: 15%;
  }
  
  .container {
    text-align: center;
  }
  
  .footer-container {
    width: 100%;
    background: #821E00;
    color: #f3eded;
    padding: 3em 0;
    border-top-right-radius: 40px;
    -webkit-transform: skewY(2deg);
            transform: skewY(2deg);
  }
  
  .footer-container .container {
    -webkit-transform: skewY(-2deg);
            transform: skewY(-2deg);
  }
  
  .footer-container:before {
    content: "";
    width: 40px;
    height: 40px;
    background: #821E00;
    position: absolute;
    top: -39px;
    left: 0;
    z-index: -4;
  }
  
  .footer-container:after {
    content: "";
    width: 80px;
    height: 80px;
    background: #f3eded;
    position: absolute;
    z-index: -3;
    top: -80px;
    left: 0;
    border-radius: 50%;
  }
  
  ul.footer-links {
    margin: 0 auto;
  }
  
  ul.footer-links li {
    display: inline-block;
    padding: 0 1%;
  }
  
  ul.footer-links li a {
    color: #f3eded;
    font-size: .8em;
  }
  
  nav ul li {
    padding: 0 0.8em;
    float: left;
  }
  
  nav ul li a {
    color: black;
    padding: 1em 2em;
    border-radius: 25px;
    font-weight: bold;
  }
  
  

@media only screen and (min-width: 650px) {

    /* .server {
        width: 50%;
    } */

    h1 {
        font-size: 2.5em;
        margin: 0;
    }


    .orange-container {
        margin: 0;
    }

    .orange-container img {
        width: 20%;
    }

    .orange-container ul li:nth-child(3) img {
        width: 11%;
        margin-top: -6px;
    }

    .orange-container ul {
        display: flex;
        margin-top: -1em;
        align-items: center;
    }

    .orange-container ul li {
        margin-bottom: 0;
    }

    .orange-container ul li p {
        padding: 0 .8em;
    }

    .review-container ul {
        display: flex;
    }



}



/* @media only screen and (min-width: 875px) {

 
    .orange-container ul {
        margin: 0 0 4% 0;
    }

    .review-container ul {
        margin: 4% 0 0;
    }

} */

@media only screen and (min-width: 1024px) {

    .registrar-footer {
        width: 50%;
    }

    /* .container {
        width: 80%;
        margin: 0 auto;
    } */



    .scroll img {
        width: 5%;
        animation: move 1s infinite alternate;
    }

    @keyframes move {
        from {
            transform: translateY(0px);
        }

        to {
            transform: translateY(20px);
        }
    }

}

@media only screen and (min-width: 1600px) {

    /* .server {
        width: 40%;
        margin: 5em auto 4em 15%;
    } */

    /* .container {
        width: 70%;
    } */

    .orange-container {
        padding: 7em 0 2em;
    }

    .orange-container ul li p,
    blockquote {
        font-size: 1.3em;
    }

    .review-container {
        padding: 6em 0 4em;
    }

    .orange-container img {
        width: 15%;
    }

    .orange-container ul li:nth-child(3) img {
        width: 8%;
        margin-top: -4px;
    }

}