@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600");

* {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: border-box;
}

* {
  outline-color: #DF8931;
}

a {
  text-decoration: none;
}

body {
  background: #f3eded
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;

}

input:focus {
  border: 3px solid #821e00;
  outline: none;
}


/*Navbar*/
.logo {
  width: 12%;
  cursor: pointer;
  z-index: 1;
  
}

.navbar-container {
  background: #f3eded;
  display: flex;
  box-shadow: 2px 2px 1px #f3eded;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding-right: 0.4%;
  margin-bottom: 1%;
}


.down-arrow {
  display: flex;
  position:relative;
  background: #DF8931;
  padding: 8px;
  border-radius: 80px;
  cursor: pointer;
  margin: 0 1%;
  justify-content: center;
}

.down-arrow img {
  width: 30px;
}

.menu {  
  position: absolute;
  top: 100%;
  padding: 10px;
  background: #DF8931;
  border-radius: 20px;
  border: 2px solid #821e00;
  z-index: 2;   
  visibility: hidden;
  opacity: 0; 
  transition: opacity 1s;  
  text-align: center;

}

.menu a {
  display: block;
  color:#821E00;
  font-size: 14px;
  padding: 1%;
  margin: 1%;
  letter-spacing: 1px;

}

.menu a:hover {
  color: #f3eded;
  font-weight: bold;
  cursor: pointer;
}

.down-arrow:hover .menu{
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}


.search-contain {
  display: flex;
  position: relative;
  align-items: center;
  margin-right: 1%;
}

.search-contain input {
  font-family: 'Montserrat';
  font-weight: 200;
  background: #DF8931;
  width: 235px;
  height: 12px;
  padding: 25px;
  padding-left: 45px;
  border-radius: 20px;
  border: none;
  color: #821E00;
  cursor: pointer;
  font-size: 0.8rem;
  font-weight: 500;
  -webkit-transition: width 1s;
  transition: width 1s;
}

.search-contain input::-webkit-input-placeholder {
  color: #821E00;
  width: 100%;
}

.search-contain input:-ms-input-placeholder {
  color: #821E00;
  width: 100%;
}

.search-contain input::-ms-input-placeholder {
  color: #821E00;
  width: 100%;
}

.search-contain input::placeholder {
  color: #821E00;
  width: 100%;
}

.search-contain input:focus {
  outline: none;
}

.search-contain img {
  width: 30px;
  margin: 0 0 0 10px;
  position: absolute;
  cursor: pointer;
}

.search-contain p {
  position: absolute;
  top: 85%;
  left: 5%;
  color: #821E00;
  font-weight: 400;
  text-transform: uppercase;
  font-size: .5em;
  text-align: center;
  visibility: hidden; 
  opacity: 0; 
  -webkit-transition: opacity 2s;
  transition: opacity 2s;
}

.categorias {
  background: #DF8931;
  width: 148px;
  height: 12px;
  padding: 25px;
  margin: 0 35% 0 0;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.categorias a {
  color: #821E00;
  font-size: 18px;
  font-weight: bold;
}

.categorias a:hover {
  color: #f3eded;
}

.settings {
  display: flex;
  position: relative;
  background: #DF8931;
  width: 14px;
  height: 12px;
  padding: 25px;
  border-radius: 20px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
}

.settings img {
  width: 40px;
  cursor: pointer;
  
}

.dropdown {  
  position: absolute;
  top: 100%;
  padding: 10px 0px 10px 10px;
  margin: 2% 5% 0 0;
  background: #DF8931;
  border-radius: 20px;
  border: 2px solid #821e00;
  z-index: 3;  
  visibility: hidden;
  opacity: 0; 
  transition: opacity 1s;
}

.dropdown a {
  display: block;
  color:#821E00;
  font-size: 15px;
  width: 160px;
  margin: 6% 0;
  letter-spacing: 1px;

}

.dropdown a:hover {
  color: #f3eded;
  font-weight: bold;
  cursor: pointer;
}

.settings:hover .dropdown{
  cursor: pointer;
  visibility: visible;
  opacity: 1;
}

.container {
  text-align: center;
}

/* Footer */

.footerLogo {
  width: 15%;
}

.container {
  text-align: center;
}

.footer-container {
  width: 100%;
  background: #821E00;
  color: #f3eded;
  padding: 3em 0;
  border-top-right-radius: 40px;
  -webkit-transform: skewY(2deg);
          transform: skewY(2deg);
}

.footer-container .container {
  -webkit-transform: skewY(-2deg);
          transform: skewY(-2deg);
}

/* .footer-container:before {
  content: "";
  width: 40px;
  height: 40px;
  background: #821E00;
  position: absolute;
  top: -39px;
  left: 0;
  z-index: -4;
}

.footer-container:after {
  content: "";
  width: 80px;
  height: 80px;
  background: #f3eded;
  position: absolute;
  z-index: -3;
  top: -80px;
  left: 0;
  border-radius: 50%;
} */

ul.footer-links {
  margin: 0 auto;
}

ul.footer-links li {
  display: inline-block;
  padding: 0 1%;
}

ul.footer-links li a {
  color: #f3eded;
  font-size: .8em;
}

nav ul li {
  padding: 0 0.8em;
  float: left;
}

nav ul li a {
  color: black;
  padding: 1em 2em;
  border-radius: 25px;
  font-weight: bold;
}

/* Estilos para el pop-up window del search */

.modal-search {
  display: none;
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background: #f3eded;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}




