@import './navbar-footer-adminLibreria.css';

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg stroke='%23f5c16c' stroke-width='0' stroke-opacity='0' %3E%3Ccircle fill='%23821e00' cx='0' cy='0' r='1800'/%3E%3Ccircle fill='%23892301' cx='0' cy='0' r='1700'/%3E%3Ccircle fill='%23902802' cx='0' cy='0' r='1600'/%3E%3Ccircle fill='%23972d04' cx='0' cy='0' r='1500'/%3E%3Ccircle fill='%239e3205' cx='0' cy='0' r='1400'/%3E%3Ccircle fill='%23a53807' cx='0' cy='0' r='1300'/%3E%3Ccircle fill='%23ac3e09' cx='0' cy='0' r='1200'/%3E%3Ccircle fill='%23b2440a' cx='0' cy='0' r='1100'/%3E%3Ccircle fill='%23b84a0c' cx='0' cy='0' r='1000'/%3E%3Ccircle fill='%23bf510f' cx='0' cy='0' r='900'/%3E%3Ccircle fill='%23c55711' cx='0' cy='0' r='800'/%3E%3Ccircle fill='%23cb5e13' cx='0' cy='0' r='700'/%3E%3Ccircle fill='%23d06516' cx='0' cy='0' r='600'/%3E%3Ccircle fill='%23d66c19' cx='0' cy='0' r='500'/%3E%3Ccircle fill='%23dc731b' cx='0' cy='0' r='400'/%3E%3Ccircle fill='%23e17a1f' cx='0' cy='0' r='300'/%3E%3Ccircle fill='%23e08228' cx='0' cy='0' r='200'/%3E%3Ccircle fill='%23df8931' cx='0' cy='0' r='100'/%3E%3C/g%3E%3C/svg%3E");
  background-attachment: fixed;
  background-size: cover;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding: 15px;
  margin: 1%;
}

.formulario {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  max-width: 450px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 0 30px 60px 0 rgba(0, 0, 0, 0.3);
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  display: inline-block;
  margin: 4% 0;
  color: black;
  border-bottom: 2px solid #821e00;

}

label {
  margin: 1% 0;
  display: block;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
}

.description {
  margin-bottom: 2%;
  background-color: #f3eded;
  font-size: 14px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}

textarea:focus {
  border: 3px solid #821e00;
  outline: none;

}

.text {
  width: 44%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #f6f6f6;
  background-color: #F3EDED;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 1%;
}

.textLong {
  width: 90%;
  padding: 10px;
  font-size: 14px;
  border: 2px solid #f6f6f6;
  background-color: #F3EDED;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 1%;
}


select {
  margin: 1% 0;
  width: 45%;
  height: 35px;
  font-size: 12px;
  border: 2px solid #f6f6f6;
  background-color: #F3EDED;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  margin-bottom: 1%;
  font-family: 'Montserrat';
}

.formulario input:focus {
  border: 3px solid #821e00;
  outline: none;
}

input:focus::-webkit-input-placeholder {
  color: transparent;
}


select:focus {
  border: 3px solid #821e00;
  outline: none;
}

.description {
  resize: none;
  width: 80%;
  height: 100px;
  text-align: left;
  margin-bottom: 2%;
  background-color: #f3eded;
  font-size: 14px;
  border: 2px solid #f6f6f6;
  border-radius: 5px 5px 5px 5px;
}


.description:focus {
  border: 3px solid #821e00;
  outline: none;
}

.submit-btn {
  background-color: #821e00;
  border: none;
  color: #f3eded;
  padding: 15px 80px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 13px;
  box-shadow: 0 10px 30px 0 rgba(233, 127, 95, 0.4);
  border-radius: 5px 5px 5px 5px;
  margin-bottom: 2%;
}

/* Botón para subir imagenes */

.input-file-trigger {
  display: block;
  padding: 14px 15px;
  background: #821e00;
  color: #f3eded;
  font-size: 0.9em;
  font-weight: 400;
  transition: all .4s;
  cursor: pointer;
  border-radius: 5px 5px 5px 5px;
  width: 80%;
  margin: 0 auto;
}

.input-file {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  opacity: 0;
  padding: 14px 0;
  cursor: pointer;
}

.file-return:not(:empty) {
  margin: 1em 0;
}

.file-return {
  font-style: italic;
  font-size: .9em;
  font-weight: bold;
}

.file-return:not(:empty):before {
  content: "Archivo escogido: ";
  font-style: normal;
  font-weight: normal;
  margin: 0 1%;
}

.footer-container::before {
  background: none;
}

.footer-container::after {
  background: none;
}


/* Estilos para los modals de registrar categoria/editorial */

.modals-test {
  margin: 1% 0;
}

.modals-test button {
  background-color: #821e00;
  color: #f3eded;
  font-size: 14px;
  border: 2px solid #821e00;
  border-radius: 5px 5px 5px 5px;
  margin: 0 6%;
  cursor: pointer;

}

.modal-control {
  padding: 1rem;
  border: 1px solid #521751;
  text-align: center;
}

.modal-categoria {
  display: none;
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background: #f3eded;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.modal-editorial {
  display: none;
  position: fixed;
  z-index: 200;
  top: 40%;
  left: 40%;
  width: 20%;
  background: #f3eded;
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  padding: 1rem;
}

.modal-categoria,
.modal-editorial p {
  color: #821e00;
  margin: 0.5rem 0;
  font-size: 16px;
  font-weight: bold;
}

.modal-input {
  width: 100%;
  padding: 8px;
  border: 3px solid #821e00;
  color: #821e00;
  font-size: 14px;
  margin-bottom: 1%;
}

.modal-actions {
  text-align: right;
}

.btn-cancel {
  background: #821e00;
  color: #f3eded;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.btn-confirm {
  background: #F5C16C;
  color: #821e00;
  font-size: 14px;
  font-weight: bold;
  padding: 10px;
}

.backdrop {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}