@import './navbar-footer.css';

body {
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
    background: #f3eded;
    font-size: 62.5%;
    color: #821E00;
}

.wrapper {
    text-align: center;
}

a {
    -webkit-font-smoothing: antialiased;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    border: 0 none;
    outline: 0;
    text-decoration: none;
}

strong {
    font-weight: bold;
}

p {
    margin: 0.75rem 0 0;
}

h1 {
    font-size: 0.75rem;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
button {
    border: 0 none;
    outline: 0 none;
}

button {
    background-color: #666;
    color: #fff;
}


img,
.basket-module,
.basket-labels,
.libro-carrito {
    width: 100%;
}
.carrito {
    background: #DF8931;
    color: #821E00;
    margin-bottom: 2%;
}

input,
button,
.carrito,
.basket-module,
.basket-labels,
.item,
.price,
.quantity,
.subtotal,
.libro-carrito,
.product-image,
.product-details {
    float: left;
}

.price:before,
.subtotal:before,
.subtotal-value:before,
.total-value:before {
    content: '‎₡';
}

.hide {
    display: none;
}

main {
    clear: both;
    font-size: 0.75rem;
    margin: 0 auto;
    overflow: hidden;
    padding: 1rem 0;
    width: 960px;
}

.carrito,
aside {
    padding: 0 1rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.carrito {
    width: 70%;
}

.basket-module {
    color: #821E00;
}

label {
    display: block;
    margin-bottom: 0.3125rem;
}


.basket-labels {
    border-top: 1px solid #821E00;
    border-bottom: 1px solid #821E00;
    margin-top: 1.625rem;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    display: inline-block;
    padding: 0.625rem 0;
}

li.price:before,
li.subtotal:before {
    content: '';
}

.item {
    width: 55%;
}


.price,
.quantity,
.subtotal {
    width: 15%;
}

.subtotal {
    text-align: right;
}

.remove {
    bottom: 1.125rem;
    float: right;
    position: absolute;    
    right: -12%;  
    bottom: 8%; 
    width: 45%;
}

.remove button {
    position: absolute; 
    bottom: 10%;    
    background-color: #821E00;
    color: #f3eded;
    padding: 6px;
    text-transform: uppercase;
}

.item-heading {
    padding-left: 4.375rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}

.libro-carrito {
    border-bottom: 1px solid #821E00;
    padding: 1rem 0;
    position: relative;
}

.product-image {
    width: 35%;
}

.product-details {
    width: 65%;
}

.product-frame {
    border: 1px solid #821E00;
}

.product-details {
    padding: 0 1.5rem;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.quantity-field {
    background-color:#DF8931;
    border: 1px solid #821E00;
    color: #821E00;
    border-radius: 4px;
    font-size: 0.625rem;
    padding: 2px;
    width: 3.75rem;
}

aside {
    float: right;
    position: relative;
    width: 30%;
}

.summary {
    background-color: #DF8931;
    border: 1px solid #aaa;
    padding: 1rem;
    width: 250px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.summary-total-items {
    color: #821E00;
    font-size: 0.875rem;
    text-align: center;
}

.summary-subtotal,
.summary-total {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    clear: both;
    margin: 1rem 0;
    overflow: hidden;
    padding: 0.5rem 0;
}

.subtotal-title,
.subtotal-value,
.total-title,
.total-value {
    float: left;
    width: 50%;
}

.summary-delivery {
    padding-bottom: 3rem;
}

.subtotal-value,
.total-value {
    text-align: right;
}

.total-title {
    font-weight: bold;
    text-transform: uppercase;
}

.summary-checkout {
    display: block;
}

.checkout-cta {
    display: block;
    float: none;
    font-size: 0.75rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.625rem 0;
    width: 100%;
    background: #821E00;
    color: #F3EDED;
}

.summary-delivery-selection {
    background-color: #821E00;
    color: #F3EDED;
    border: 1px solid #aaa;
    border-radius: 4px;
    display: block;
    font-size: 0.625rem;
    height: 34px;
    width: 100%;
}

@media screen and (max-width: 640px) {

    aside,
    .carrito,
    .summary,
    .item,
    .remove {
        width: 100%;
    }

    .basket-labels {
        display: none;
    }



    .basket-module {
        margin-bottom: 1rem;
    }

    .item {
        margin-bottom: 1rem;
    }

    .product-image {
        width: 40%;
    }

    .product-details {
        width: 60%;
    }

    .price,
    .subtotal {
        width: 33%;
    }

    .quantity {
        text-align: center;
        width: 34%;
    }

    .quantity-field {
        float: none;
    }

    .remove {
        bottom: 0;
        text-align: left;
        margin-top: 0.75rem;
        position: relative;
    }

    .remove button {
        padding: 0;
    }

    .summary {
        margin-top: 1.25rem;
        position: relative;
    }
}

@media screen and (min-width: 641px) and (max-width: 960px) {
    aside {
        padding: 0 1rem 0 0;
    }

    .summary {
        width: 28%;
    }
}

@media screen and (max-width: 960px) {
    main {
        width: 100%;
    }

    .product-details {
        padding: 0 1rem;
    }
}